* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v124_1495 {
  width: 360px;
  height: 800px;
  background: rgba(4,12,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v124_1500 {
  width: 224px;
  /* color: linear-gradient(rgba(66,170,255,1), rgba(151,71,255,1)); */
  color: white;
  position: absolute;
  top: 681px;
  left: 68px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v125_22 {
  width: 296px;
  height: 239px;
  background: url("../images/NARFU_icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 32px;
  overflow: hidden;
}
